

<html>
<head>
    <link rel="stylesheet" href="/authstyles/fonts/material-icon/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="/authstyles/css/font.css">
    <link rel="stylesheet" href="/authstyles/css/style.css">
</head>
<body>
    <video autoplay muted loop id="bg-video" style="position: fixed; z-index: -1;">
        <source src="/authstyles/videos/0_Digital Art_Data Visualization_3840x2160.mov" type="video/mp4">

    </video>


    @RenderBody();



    <script src="/authstyles/js/terms.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="/authstyles/vendor/jquery/jquery.min.js"></script>
    <script src="/authstyles/js/main.js"></script>

    <script src="/js/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
 
</body>
</html>
