<!--===============================================================================================-->
<link rel="icon" type="image/png" href="//images/icons/Pnews.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/util.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
<!-- Footer -->
<footer>
	<div class="bg2 p-t-40 p-b-25">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<a href="index.html">
							<img class="max-s-full" src="/images/icons/logo-02.png" alt="LOGO">
						</a>
					</div>

					<div>
						<p class="f1-s-1 cl11 p-b-16">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
						</p>

						<p class="f1-s-1 cl11 p-b-16">
							سوالی دارید؟ با ما تماس بگیرید :09130000000
						</p>

						<div class="p-t-15">
							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-facebook-f"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-twitter"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-pinterest-p"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-vimeo-v"></span>
							</a>

							<a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
								<span class="fab fa-youtube"></span>
							</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							پست های محبوب
						</h5>
					</div>

					<ul>
						<li class="flex-wr-sb-s p-b-20">
							<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
								<img src="/images/popular-post-01.jpg" alt="IMG">
							</a>

							<div class="size-w-5">
								<h6 class="p-b-5">
									<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
										این یک متن برای تست است
									</a>
								</h6>

								<span class="f1-s-3 cl6">
									26 بهمن
								</span>
							</div>
						</li>

						<li class="flex-wr-sb-s p-b-20">
							<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
								<img src="/images/popular-post-02.jpg" alt="IMG">
							</a>

							<div class="size-w-5">
								<h6 class="p-b-5">
									<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
										این یک متن برای تست است
									</a>
								</h6>

								<span class="f1-s-3 cl6">
									26 بهمن
								</span>
							</div>
						</li>

						<li class="flex-wr-sb-s p-b-20">
							<a href="#" class="size-w-4 wrap-pic-w hov1 trans-03">
								<img src="/images/popular-post-03.jpg" alt="IMG">
							</a>

							<div class="size-w-5">
								<h6 class="p-b-5">
									<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03">
										این یک متن برای تست است
									</a>
								</h6>

								<span class="f1-s-3 cl6">
									26 بهمن
								</span>
							</div>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-20">
					<div class="size-h-3 flex-s-c">
						<h5 class="f1-m-7 cl0">
							دسته بندی ها
						</h5>
					</div>

					<ul class="m-t--12">
						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								مد و فشن (22)
							</a>
						</li>

						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								تکنولوژی (29)
							</a>
						</li>

						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								استایل خیابانی (15)
							</a>
						</li>

						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								سبک زندگی (28)
							</a>
						</li>

						<li class="how-bor1 p-rl-5 p-tb-10">
							<a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
								صنایع دستی (16)
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="bg11">
		<div class="container size-h-4 flex-c-c p-tb-15">
			<span class="f1-s-1 cl0 txt-center">
				حق چاپ © 2025

				<a href="#" class="f1-s-1 cl10 hov-link1">
					حق چاپ &copy;<script>document.write(new Date().getFullYear());</script> تمامی حقوق مادی و معنوی این سایت متعلق به پویش نیوز می‌باشد <i class="fa fa-heart" aria-hidden="true"></i>

			</span>
		</div>
	</div>
</footer>
