
<!-- Header -->
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<div class="topbar">
			<div class="content-topbar container h-100">
				<div class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<span>
							اصفهان
						</span>

						<img class="m-b-1 m-rl-8" src="/images/icons/icon-night.png" alt="IMG">

						<span>
							20c sunny
						</span>
					</span>

					<a href="#" class="left-topbar-item">
						درباره ما
					</a>

					<a href="#" class="left-topbar-item">
						تماس با ما
					</a>

					<a asp-page="/Auth/SignUp" class="left-topbar-item">
						ثبت نام
					</a>

					<a asp-page="/Auth/SignIn" class="left-topbar-item">
						ورود
					</a>
				</div>

				<div class="right-topbar">
					<a href="#">
						<span class="fab fa-facebook-f"></span>
					</a>

					<a href="#">
						<span class="fab fa-twitter"></span>
					</a>

					<a href="#">
						<span class="fab fa-pinterest-p"></span>
					</a>

					<a href="#">
						<span class="fab fa-vimeo-v"></span>
					</a>

					<a href="#">
						<span class="fab fa-youtube"></span>
					</a>
				</div>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="/images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>

		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li class="left-topbar">
					<span class="left-topbar-item flex-wr-s-c">
						<span>
							اصفهان
						</span>

						<img class="m-b-1 m-rl-8" src="/images/icons/icon-night.png" alt="IMG">

						<span>
							HI 58° LO 56°
						</span>
					</span>
				</li>

				<li class="left-topbar">
					<a href="#" class="left-topbar-item">
						درباره ما
					</a>

					<a href="#" class="left-topbar-item">
						تماس با ما
					</a>

					<a href="#" class="left-topbar-item">
						ثبت نام
					</a>

					<a href="#" class="left-topbar-item">
						ورود
					</a>
				</li>

				<li class="right-topbar">
					<a href="#">
						<span class="fab fa-facebook-f"></span>
					</a>

					<a href="#">
						<span class="fab fa-twitter"></span>
					</a>

					<a href="#">
						<span class="fab fa-pinterest-p"></span>
					</a>

					<a href="#">
						<span class="fab fa-vimeo-v"></span>
					</a>

					<a href="#">
						<span class="fab fa-youtube"></span>
					</a>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href="index.html">خانه</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">خانه</a></li>
					</ul>

					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="category-01.html">خبرها</a>
				</li>

				<li>
					<a href="category-02.html">سرگرمی </a>
				</li>

				<li>
					<a href="category-01.html">کسب و کار</a>
				</li>

				<li>
					<a href="category-02.html">سفر </a>
				</li>

				<li>
					<a href="category-01.html">سبگ زندگی</a>
				</li>

				<li>
					<a href="category-02.html">ویدیوها</a>
				</li>

				<li>
					<a href="#">صفحات وبسایت</a>
					<ul class="sub-menu-m">
						<li><a href="category-01.html">دسته بندی</a></li>
						<li><a href="blog-grid.html">نوار کناری شبکه وبلاگ</a></li>
						<li><a href="blog-detail-02.html">صفحه مقاله</a></li>
						<li><a href="blog-list-02.html">لیست پست ها</a></li>
						<li><a href="about.html">درباره ما </a></li>
						<li><a href="contact.html">تماس با ما </a></li>
					</ul>

					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>
			</ul>
		</div>

		<!--  -->
		<div class="wrap-logo container">
			<!-- Logo desktop -->
			<div class="logo">
				<a href="index.html"><img src="/images/icons/logo-01.png" alt="LOGO"></a>
			</div>

			<!-- Banner -->
			<div class="banner-header">
				<a href=""><img src="/images/banner-01.jpg" alt="IMG"></a>
			</div>
		</div>

		<!--  -->
		<div class="wrap-main-nav">
			<div class="main-nav">
				<!-- Menu desktop -->
				<nav class="menu-desktop">
					<a class="logo-stick" href="index.html">
						<img src="/images/icons/logo-01.png" alt="LOGO">
					</a>

					<ul class="main-menu">
						<li class="main-menu-active">
							<a href="index.html">خانه</a>
							<ul class="sub-menu">
								<li><a href="index.html">خانه</a></li>
							</ul>
						</li>

						<li class="mega-menu-item">
							<a href="category-01.html">خبرها</a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#news-0" role="tab">همه</a>
									<a class="nav-link" data-toggle="pill" href="#news-1" role="tab">سرگرمی</a>
									<a class="nav-link" data-toggle="pill" href="#news-2" role="tab">مد و فشن</a>
									<a class="nav-link" data-toggle="pill" href="#news-3" role="tab">سبک زندگی </a>
									<a class="nav-link" data-toggle="pill" href="#news-4" role="tab">تکنولوژی</a>
									<a class="nav-link" data-toggle="pill" href="#news-5" role="tab">سیر و سفر</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="news-0" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-05.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-10.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																امور مالی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																3 خرداد
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-14.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																ساحل
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																5 اردیبهشت
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-36.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																تکنولوژی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																29 اذر
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="news-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-50.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-08.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																23 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-07.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																13 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-06.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																12 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="news-2" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-21.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-24.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																1 ابان
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-22.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																3 مهر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-23.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																5 خرداد
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="news-3" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-25.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																10 اسفند
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-27.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																2 فروردین
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-26.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																12 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-34.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																14 تیر
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="news-4" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-35.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-36.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																2 شهریور
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-37.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																4 شهریور
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-38.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="news-5" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-39.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																3 دی
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-41.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																4 دی
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-42.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																3 اذر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-40.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																22 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="mega-menu-item">
							<a href="category-02.html">سرگرمی </a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#enter-1" role="tab">همه</a>
									<a class="nav-link" data-toggle="pill" href="#enter-2" role="tab">بازی</a>
									<a class="nav-link" data-toggle="pill" href="#enter-3" role="tab">جشن ها</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="enter-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-25.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																12 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-27.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																10 دی
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-26.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																21 اذر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-34.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																24 اسفند
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="enter-2" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-35.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																6 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-36.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																2 مهر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-37.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																3 مهر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-38.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																7 مهر
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="enter-3" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-39.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																9 مهر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-41.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																28 مهر
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-42.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-40.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="mega-menu-item">
							<a href="category-01.html">کسب و کار</a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#business-1" role="tab">همه</a>
									<a class="nav-link" data-toggle="pill" href="#business-2" role="tab">شرکت ها</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="business-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-10.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-11.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-26.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-34.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="business-2" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-35.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-36.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-37.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-38.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="mega-menu-item">
							<a href="category-02.html">سفر</a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#travel-1" role="tab">همه</a>
									<a class="nav-link" data-toggle="pill" href="#travel-2" role="tab">هتل ها</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="travel-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-39.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-41.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-42.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-40.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane" id="travel-2" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-35.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-36.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-37.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-38.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="mega-menu-item">
							<a href="category-01.html">سبک زندگی</a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#life-1" role="tab">همه</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="life-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-25.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-27.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-26.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-34.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li class="mega-menu-item">
							<a href="category-02.html">ویدیوها</a>

							<div class="sub-mega-menu">
								<div class="nav flex-column nav-pills" role="tablist">
									<a class="nav-link active" data-toggle="pill" href="#video-1" role="tab">همه</a>
								</div>

								<div class="tab-content">
									<div class="tab-pane show active" id="video-1" role="tabpanel">
										<div class="row">
											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-50.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-08.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-07.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>

											<div class="col-3">
												<!-- Item post -->
												<div>
													<a href="blog-detail-01.html" class="wrap-pic-w hov1 trans-03">
														<img src="/images/post-06.jpg" alt="IMG">
													</a>

													<div class="p-t-10">
														<h5 class="p-b-5">
															<a href="blog-detail-01.html" class="f1-s-5 cl3 hov-cl10 trans-03">
																این یک متن برای تست است جدی نگیرید
															</a>
														</h5>

														<span class="cl8">
															<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																موسیقی
															</a>

															<span class="f1-s-3 m-rl-3">
																-
															</span>

															<span class="f1-s-3">
																26 بهمن
															</span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<a href="#">صفحات وبسایت</a>
							<ul class="sub-menu">
								<li><a href="category-01.html">دسته بندی</a></li>
								<li><a href="blog-grid.html">نوار کناری صفحه وبلاگ</a></li>
								<li><a href="blog-list-02.html">لیست پست ها</a></li>
								<li><a href="blog-detail-01.html">صفحه مقاله ها</a></li>
								<li><a href="about.html">درباره ما </a></li>
								<li><a href="contact.html">تماس با ما </a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>